.btn{
    margin-left: 4px;
}

.ListItem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
}

.ListItem:hover{
    background: rgb(0, 89, 92);
    border-radius: 8px;
    
}

.close{
    color: #808080;
    text-decoration: line-through;
}

.filter{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    
}

.btns{
    margin-top: 23px;
    
}