.btn{
    margin-left: 4px;
}

.ListItem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 7px;
}

.ListItem:hover{
    background: rgba(0, 0, 0, 0.521);
    border-radius: 8px;
}

.close{
    color: grey;
    text-decoration: line-through;
}

.filter{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    
}

.btns{
    margin-top: 23px;
}