.root{
    display: flex;
    justify-content: center;
    align-items: center;        
    height: 80px;
    font-size: 24px;
    color: #CCD0CF;
    background-color: #06141B;
    border-radius: 6px;

}